{% extends 'layouts/base.html' %}

{% import 'macros/form_fields.html' as fields  %}


{% block head %}
    <link rel="stylesheet" href="static/css/macros/form_fields.css">
{% endblock %}


{% block content %}
    <button>Click</button>
    <button class="accent">Accent</button>
    <button class="danger">Danger</button>
    <button class="warning">Warning</button>
    <a class="button">Link</a>

    <br>
    <br>

    <input placeholder="some text">
    <input value="Readonly" readonly>
    <select>
        <option value="">Test</option>
        <option value="">test</option>
        <option value="">test</option>
    </select>
    <select disabled>
        <option value="">Disabled</option>
        <option value="">test</option>
        <option value="">test</option>
    </select>

    {{ fields.checkbox(label="Checkbox") }}

    <div>
        
        {{ fields.radio_button(label="RadioButton") }}
        {{ fields.radio_button(label="RadioButton") }}

    </div>

    <br>
    <br>

    <a style="font-size: 20px;">Test link</a>
{% endblock %}